HeaderFileExtensions: [h, hh, hpp, hxx, inc]
ImplementationFileExtensions: [c, cc, cpp, cxx, m, mm]
HeaderFilterRegex: (src|include)/
FormatStyle: file
Checks: >
  -*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  concurrency-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  mpi-*,
  objc-*,
  openmp-*,
  performance-*,
  portability-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-macro-usage,
  misc-*
